@mixin slider {
  position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--background-primary);
	color: var(--text-primary);
	z-index: 100;
	transform: translate(100%);
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0;
	height: 100vh;
}

@mixin slider-active {
  transform: translate(0);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
	opacity: 1;
}
@mixin slider-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}